form.form.create-form(ng-submit="submit()")
	.form-actions.bg-primary
		.container-fluid
			.row
				.col-xs-12
					.btn-toolbar
						.btn-group.pull-right
							button.btn.btn-sm.btn-submit.btn-default(type="submit", value="Create Poll") Continue

	.well
		.row
			.col-xs-12
				.form-group(data-ng-repeat="recipient in formData.recipients")
					label {{ recipient.type }}
					div(ng-class="{ 'input-group': 'Public Link' !== recipient.type }")
						input.input-sm.form-control(type="text", data-ng-model="recipient.value", placeholder="Enter Email Address", required="true", ng-disabled="'Public Link' === recipient.type")
						.input-group-btn(ng-hide="'Public Link' === recipient.type")
							a.btn.btn-sm.btn-default(data-ng-click="formData.removeRecipient($index)")
								span.glyphicon.glyphicon-remove
		.btn-group.btn-group-justified
			a.btn.btn-sm.btn-default(data-ng-click="formData.addRecipient()")
				span.glyphicon.glyphicon-plus
				|  Add Recipient
